@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  list-style: none;
  text-decoration: none;
}
.portfolioTitle {
  background: linear-gradient(to right, #f32170, #cf23cf, #e0b0ff);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 2rem;
}
.linkContainer a {
  margin: 12px 20px;
}
.img {
  @apply object-cover w-full h-full;
}

.scale-animation {
  @apply hover:scale-125 transition-all duration-700 rounded-3xl;
}
