@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  list-style: none;
  text-decoration: none;
}
.portfolioTitle {
  background: linear-gradient(to right, #f32170, #cf23cf, #e0b0ff);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 2rem;
}

/* header  */
.headerContainer {
  background-color: rgba(0, 0, 0, 0.221);
}
.linkContainer a {
  margin: 12px 20px;
}
.linkContainerVertical {
  display: none;
}
/* about  */
.aboutContainer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  position: absolute;
  gap: 4rem;
  padding: 0 4rem;
  color: black;
  height: 100vh;
  z-index: 1;
  background-position: center;
  background: url("/images/bg-portfolio-about.jpg");
}
.about-contact-section {
  font-size: 1.5rem;
  background-color: #efe7f4;
  font-weight: bold;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bgContent {
  font-size: 1.2rem;
}

/* projects  */
.projectContainer {
  background-color: #efe7f4;
}
.projectContainer .project {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #bfbec0;
  color: black;
  padding: 10px 12px;
  border-radius: 1rem;
  margin: 10px 12px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: auto;
  justify-content: center;
  align-items: center;
}
.project-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.projectContainer .project .project-links a {
  border: 2px solid black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-my-img {
  z-index: 100;
}
/* contact me  */
.contactContainer {
  background-color: #efe7f4;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.contactme {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 10px 12px;
  border-radius: 1rem;
  margin: 10px 12px;
  background-color: #efe7f4;
}
.contactme ul li {
  display: flex;
  flex-direction: column;
}
.contact-title {
  font-size: 2rem;
  font-weight: bold;
  color: #4b0082;
  text-align: center;
  margin: 1rem 0;
}
.socialLinks {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 2rem 0;
}
.contactme ul .socialLink li a {
  margin: 0 1rem;
  border-radius: 50%;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.contactContainer .form {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px 12px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 1rem;
  width: max-content;
  background-color: #080808;
}
.contactContainer .form form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1rem;
}
.contactContainer .form form input,
textarea {
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  height: 40px;
  color: #080808;
  font-size: 1rem;
}
.contactContainer .form form::placeholder {
  color: #080808;
}
.message textarea {
  display: flex;
  flex-direction: column;
  height: 60px;
}
.submit-btn {
  background-color: #efe7f4;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

/* terminal  */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hack";
  src: url(/assets/fonts/Hack-NF.ttf);
  display: swap;
}

.terminal-font {
  font-family: "Hack", monospace;
}
.terminal-input {
  background-color: #000000;
}

.terminalContainer {
  background: black;
  color: wheat;
  width: 95%;
  height: 450px;
  margin: 1rem auto;
  border-radius: 15px;
}
html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e252e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ebdbb2;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8037;
}
.img {
  @apply object-cover w-full h-full;
}

.scale-animation {
  @apply hover:scale-125 transition-all duration-700 rounded-3xl;
}

/* media  */
@media (max-width: 750px) {
  .aboutFlex {
    display: flex;
    margin: 15px 10px;
  }
  .linkContainer {
    display: none;
  }
  .linkContainerVertical {
    display: flex;
    flex-direction: column;
  }
}
